body {
    background: #F4F6F9;
    margin : 20px auto;
    font-family: Calibri;
}

h1 {
    font-size : 80px;
    text-align: center;
    margin : 20px;
}

form {
    width : 20%;
    margin : auto;
    background: #FFFFFF;
    padding : 80px;
}

label {
    display:block;
    width : 200px;
    font-weight : bold;
    margin-bottom: 10px;
}

input {
    display: block;
    margin-bottom: 20px;
}

input[type="text"],input[type="password"],input[type="email"] {
    border : none;
    height: 30px;
    width : 100%;
    border: 1px solid #00000044;
    border-radius : 3px;
    padding :5px;
    font-style: italic;
}

input[type="file"] {
    font-size : 17px;
}

input[type='submit'] {
    border :none;
    width : max-content;
    margin : auto 0 0 auto;
    border: 1px solid #00000044;
    border-radius : 3px;
    padding : 10px;
    cursor: pointer;
}


.wrapper {
    width : 40%;
    margin : auto;
    background: #FFFFFF;
    padding : 50px;
    color : blue;
}

table {
    width : 100%;
    border : none;
    border: 1px solid;
    border-color: #DEE2E6;
    border-radius: 2px;
}

tr td{
    padding :5px;
    border-top : 1px solid #DEE2E6;
    border-right : 1px solid #DEE2E6;
}

tr td:last-child {
    border-right : none;
}

th {
    padding : 10px;
    border-right : 1px solid #DEE2E6;
}

th:last-child {
    border:none;
}

tr td:first-child, tr td:last-child {
    text-align: center;
}

img {
    width :50px;
    height : 60px;
}

#form-search {
    width : 300px;
    margin : 0;
    padding : 0px;
}

#pagination {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#pagination a {
    margin : 3px;
    padding : 10px;
    text-align: center;
    border : 1px solid #DEE2E6;
    border-radius : 5px;
    text-decoration: none;
}

.active {
    background-color : #007BFF;
    color : #FFFFFF;
    font-weight: bold;
}

#signup  {
    text-decoration: none;
    padding :5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px #33333333;
}
