.komentar {
    margin: 0px;
}
.media-list {
    margin: 20px;
}

.media-list img{
    width :50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.media-list .media-heading {
    font-size: 17px;
    font-weight: bold;
}

.media-list .wrap-body {
    background: #F5F5F5;
    border-radius: 10px;
    padding :20px;
    margin-bottom: 20px;
}

.media-list .wrap-body .fitur-chat{
    margin-top: 20px;
    overflow: auto;
}

.media-list .wrap-body .fitur-chat .comment-date{
    float: left;
    margin-top: 20px;
    opacity: 0.7;
}

.media-list .wrap-body .fitur-chat .btn-aksi{
    float: right;
}

.fitur-chat .btn-aksi .like{
    background: red;
}

.fitur-chat .btn-aksi .reply{
    background: #5BC0DE;
}

.form-komentar {
    margin-left :15px;
    margin-right :15px;
}

.form-komentar textarea {
    resize: none;
    max-height: 70px;
    width: 100%;
    overflow: hidden;
}

.form-komentar input {
    margin: 15px 0 20px 0;
}

.sumKomentar {
    margin-bottom: 20px;
}


/*collapse*/

.collapse-koment {
    margin-right: 10px;
    text-align: right;
}

.collapse-koment a {
    text-decoration: none;
}

.collapse-koment .fas{
    font-size :20px;
}

.line-koment {
    margin : 30px 0;
}

.btn-like {
   font-size: 20px;margin-right: 3px;margin-left: 3px;
}

.removeClaps a{
    opacity: 0;
}

.removeClaps a:hover{
    opacity: 1;
}
